div.txt-wapper {
  min-height: 640px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/src/assets/Heroimg/cup.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  margin-top: 3rem;
  /* background-color: aqua; */
}

div.txt-containe {
  /* margin-top: 10rem; */
  min-height: 640px;
  /* border: 1px solid red; */
  /* margin: 0 auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 600px;
}

div.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

div h3 {
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;
  margin: 2rem 0 2.5rem 0;
}
div h5 {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;
  color: rgba(35, 166, 240, 1);
}

div h6 {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;
  color: rgba(115, 115, 115, 1);
  margin-bottom: 1rem;
}

div .num {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.10000000149011612px;
  text-align: center;
  color: rgba(35, 133, 109, 1);
  margin-bottom: 1rem;
}

div button.action-btn {
  width: 292px;
  height: 52px;
  padding: 15px 40px 15px 40px;
  gap: 10px;
  border-radius: 5px 0px 0px 0px;
  background-color: rgba(35, 166, 240, 1);
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
