/* Feature Header design */

div.feat-txt-container {
  display: flex;

  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem 0 1rem 0;
}

div.feat-txt-container div h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.20000000298023224px;
}

/* Main feat design rendering as a component */
div.feature-body {
  display: flex;
  max-width: 1100px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 20px;
  flex-wrap: wrap;
}

div.feat-box {
  /* border: 1px solid black; */
  width: 328px;
  height: 606px;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

div.feat-txt {
  width: 348px;
  height: 306px;
  padding: 25px;
}

img.featimg {
  width: 100%;
  height: 300px;
}

p.overimg {
  position: absolute;
  z-index: 1;
  width: 20%;
  height: 24 px;
  top: 20px;
  left: 20px;
  padding: 0px 10px 0px 10px;
  border-radius: 3px;
  opacity: 0px;
  background: rgba(231, 64, 64, 1);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  color: white;
}

div.feat-link {
  display: flex;
  gap: 6px;

  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  margin: 0 0 1rem 0;
}

div.feat-link p.firstp-feat {
  color: rgba(142, 194, 242, 1);
}

div.feat-txt h5 {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  color: rgba(37, 43, 66, 1);
}

div.feat-txt .txt {
  color: rgba(115, 115, 115, 1);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  padding-right: 10px;
  margin: 1rem 0 1rem 0;
}

div.feat-txt .date-comment {
  display: flex;
  justify-content: space-between;
  padding-right: 10px;

  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
}

div.feat-txt .date-comment .date {
  display: flex;
  gap: 5px;
}

div.feat-txt .date-comment .comment {
  display: flex;
  gap: 5px;
}

div.feat-txt div.learnmore-feat {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  cursor: pointer;
  color: rgba(115, 115, 115, 1);
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  /* background-color: black; */
}

div.feat-txt .feat-icon {
  color: rgba(35, 166, 240, 1);
}
