div.rating-container {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  padding-top: 2rem;
}

div.rating-main-container{
  margin: 4rem 0 7rem 0;
}

div.picture-container {
  flex-wrap: wrap;
  display: flex;
  width: 464px;
  min-height: 460.03px;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

div.rate-container {
  width: 438px;
  height: 388.01px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

div.rate-container img {
  margin: 1rem 0 1rem 0;
}

div.rate-container p {
  margin-bottom: 1rem;
}

div.rate-container h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.10000000149011612px;
  text-align: center;

  margin-bottom: 1.5rem;
}

div.rate-container h5{
  color: rgba(37, 43, 66, 1);

  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;
  
}
